#heading, h1, a:link, a:visited {
  text-decoration: none;
  border: 5px black;
  padding: 50px 0px 25px 0px;
  text-align: center;
  color: blue;
}

#content {
  text-align: center;
} 

#footer {
  margin: 50px;
  text-align: center;

}
